.groupbox-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  min-height: 50vh;
  color: black;
  /* border: 2px solid yellow; */
}

.groupbox {
  width: 42%;
  min-height: 48vh;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(5px);
  display: flex;
  gap: 6vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1.3rem;
  min-width: 340px;
  padding: 0 30px;
}

.groupbox h2 {
  font-size: 1.3rem;
}

.groupbox p {
  font-size: 1rem;
}

.arrow-link {
  position: relative;
  width: 12vh;
  height: 12vh;
  cursor: pointer;
}

.arrow-link svg {
  color: black;
  width: 100%;
  height: 100%;
}
